dash_table==4.7.0
pandas==1.0.3
numpy==1.18.4
seaborn==0.10.1
plotly==4.7.1
matplotlib==3.2.1
dash_auth==1.3.2
dash_dangerously_set_inner_html
Flask==1.1.2
XlsxWriter==1.2.8
dash_bootstrap_components>=0.10.0

dash_dangerously_set_inner_html
dash-defer-js-import==0.0.2
dash-renderer
dash

python-dotenv==0.14.0
scikit_learn==0.23.2
treelib



markdown
pandas-datareader
python-docx==0.8.10
# python-magic-bin # WIN only!
plotly-express
kaleido
Pillow
psycopg2
datetime