.main-st1 {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.main-st2 {
    width: 1000%;
    margin-left: 10%;
    margin-right: 10%;
}
.main-st3 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}

.main-st4 {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.main-container-st1 {
    width: 100vw;
    margin: auto;
}
.main-container-st2 {
    width: 95vw;
    margin: auto;

}
.main-container-st3 {
    width: 90vw;
    margin: auto;
}
.main-container-st4 {
    width: 80vw;
    margin: auto;
}

.NavBarCenter {
    display: flex;
    justify-content: center;
}

.NavBar {
    color : white;
    margin-left: 1rem;

}

.NavBottom {
    border-bottom: 1px solid rgba(19, 2, 66, 0.25);
    
}

.standard-footer-body-floating {
    width : 1000px;
}


.banner-second-logo {
    color: white;
} 

.header_logo_row {
    height: 2rem;
    color: white;
}

.header-right{
    size: 100%;
}

.header_logo{
    size: 100%;
}

.logo-img{
    width: 10rem !important;
}

.main-container {
    width : 1000px;
    margin : auto;
}

.btn-help-outer {
    background-color: rgb(var(--color-secondary));
    border: none;
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 2px;
}

.btn-help-inner {
    background-color: rgb(var(--color-secondary));
    border: none;
    color: white;
    height: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-left: 2px;
}


.icon_size {
    height: 20px;
    padding-right: 5px;
    vertical-align: text-bottom;
}

.col {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}


.dropdown-item:active {
    background-color: rgb(var(--color-secondary)) !important;
}

.form-check-input{
    border-color: rgb(var(--color-primary)) !important;
}

.form-check-input:checked{
    background-color: rgb(var(--color-primary)) !important;
}

.form-check-input:focus, .btn-primary:focus{
    box-shadow: 0 0 0 0.25rem rgba(var(--color-primary), 0.3) !important; /*does not work*/
}

.btn-primary{
    background-color: rgb(var(--color-button)) !important;
    border-color: rgb(var(--color-button)) !important;
}

.btn-primary:hover{
    background-color: rgb(var(--color-button-hover)) !important;
    border-color: rgb(var(--color-button)) !important;
}
